/* code adapted from https://git.bootcampcontent.com/University-of-Minnesota/UofM-VIRT-FSF-PT-02-2024-U-LOLC-ENTG/-/blob/main/02-Advanced-CSS/01-Activities/11-Ins_CSS-Resets/assets/css/reset.css?ref_type=heads#L17 */
/* Resets the box size of every element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gives the body element a parent height to compare against */
html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}

h1, h2, h3 {
  font-size: 100%;
}

/* Removes default bullet points from lists */
ul {
  list-style: none;
}