/* variables */
/* color palette from https://colorhunt.co/palette/22283131363f76abaeeeeeee */
:root {
    --light-color: #EEEEEE;
    --dark-color: #222831;
    --accent-color: #76ABAE;
    --banner-color: #31363F;
}

/* general styling */
* {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--dark-color);
}

h1 {
    font-size: 75px;
    color: var(--light-color);
    text-wrap: wrap;
    text-align: center;
    
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

a {
    text-decoration: none;
    font-weight: bolder;
}

p {
    height: fit-content;
    color: var(--dark-color);
}

/* header */
header {
    background-color: var(--accent-color);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

header h2 {
    margin-left: 5%;
}

nav {
    margin: 20px 5%;
    display: flex;
    align-items: center;
}

nav li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

/* on hover, highlight link */
nav li:hover {
    background-color: var(--dark-color);
}

nav a {    
    color: var(--light-color);
}

/* banner */
.banner {
    background-color: var(--banner-color);
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.banner img {
    width: 250px;
    height: 250px;
    box-shadow: 12px 12px 2px 1px var(--dark-color);
    margin: 0 100px 0
 }


/* sections */
section {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

.section-title {
    width: 25%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    text-align: center;
}

/* set width for second column in flexbox */
.column {
    width: 60%;
    margin: 10px 5%;
}

/* my work section */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    margin: 12.5px;
    position: relative;
    opacity: 0.6;
}

/* position project title inside card */
figcaption {
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 10px;
    background-color: var(--light-color);
    /* opacity: 0.6; */
    margin:auto;
}

/* on hover, highlight card with increased opacity + border */
figure:hover {
    opacity: 1;
    border: 3px solid var(--banner-color);
}

/* fills the given dimensions and clips image if needed */
/* source: https://stackoverflow.com/questions/3029422/how-to-auto-resize-an-image-while-maintaining-aspect-ratio */
.first-app img {
    max-width: 625px;
    max-height: 200px;
    object-fit: cover;
}

/* contact me section */
#contact ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* on hover, highlight link */
#contact li:hover {
    background-color: var(--accent-color);
}

#contact a {
    color: var(--dark-color);
    font-size: 20px;
}

/* footer */
footer {
    background-color: var(--accent-color);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

/* responsive layout when screen is 768px or under */
@media screen and (max-width: 768px) {
    /* make flex items into column */
    header, section {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    header h2 {
        margin: 0;
    }

    nav li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner img {
        margin: 40px;
    }

    .section-title {
        background-color: white;
        min-width: 100%;
    }