/* variables */
:root {
    --padding: 20px;
    --font-light: #EEEEEE;
    --font-dark: #222831;
}

/* general styling */
* {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--font-dark);
}

h1 {
    font-size: 75px;
    color: var(--font-light);
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

a {
    text-decoration: none;
    font-weight: bolder;
}

/* header */
header {
    background-color: #76ABAE;
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* position: relative; */
}

header h2 {
    margin: 10px 20px;
}

nav {
    /* position: absolute; */
    margin-right: 5%;
    display: flex;
    align-items: center;
}

nav li {
    display: inline-block;
    padding: 0 var(--padding);
    position: relative;
    /* top: 50%; */
}

nav a {    
    color: var(--font-light);
}

/* banner */
.banner {
    background-color: #31363F;
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    /* position: relative; */
}

.banner img {
    width: 250px;
    height: 250px;
    /* position: absolute; */
    box-shadow: 12px 12px 2px 1px #222831;
    margin: 0 100px 0
 }


/* sections */
section {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

.section-title {
    width: 25%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

.column {
    width: 60%;
    margin: 10px 5%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    margin: 12.5px;
}

#contact ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact a {
    color: var(--font-dark);
    font-size: 20px;
}